<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>kumibato</title>

    <!--これはいわゆるbootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!--Vue.js v2.6.10-->
    <script src="vue.min.js"></script>

    <link rel="stylesheet" href="style.css">

</head>
<body>

<!--todo CSSを切り分けて別ファイルにする-->
<nav class="nav nav-pills nav-justified" style="background-color: #dddddd">
    <a class="nav-item nav-link active" href="#">Active</a>
    <a class="nav-item nav-link" href="#">Much longer nav link</a>
    <a class="nav-item nav-link" href="#">Link</a>
    <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>

<div id="allElements" class="row">

    <!--画面左側、実行画面+ステータス-->
    <div id="canvasArea" class="col-5">

        <div class="row">

            <div id="showCanvas" class="col-12">
                <canvas id="board" width="500" height="500" onload="initfunc()"></canvas>
            </div>

            <div class="col-12">
                <div>
                    <h2 id="HP"></h2>
                    <h2 id="HP2"></h2>
                    <h2 id="turn"></h2>
                </div>
            </div>

            <div class="col-12">
                <!--ここは全画面にモーダルにしたい-->
                <div>
                    <h1 id="result"></h1>
                </div>

            </div>
        </div>

    </div>

    <div class="col-1"></div>

    <!--エディタ部分、Vue要素-->
    <div id="editorArea" class="col-6">
        <div id="editor">

            <div>
                <input id="button_W" type="button" value="W" style="padding-left: 64px;text-align: center"
                       @click="addList('W')(p1.commands)"><br>
                <input type="button" value="rotate 90 hidari"
                       @click="addList('Q')(p1.commands)">
                <input id="button_S" type="button" value="S" style="padding-left: 64px;text-align: center"
                       @click="addList('S')(p1.commands)">
                <input type="button" value="rotate 90 migi"
                       @click="addList('E')(p1.commands)">
                <br>
                <input type="button" value="前方へ攻撃" @click="addList('F')(p1.commands)"><br>
                ループ回数<input type="number" v-model="loopCount">
                <input type="button" value="Loop開始" @click="addList('Lstart')(p1.commands)">
                <input type="button" value="Loop終了" @click="addList('Lend')(p1.commands)"><br>

                <input type="button" value="move at vue" @click="eval(makeCode(p1));p1.commands.length = 0"><br>

                <input type="button" value="moveSomePlayer"
                       @click="eval(makeCode(p1));eval(makeCode(p2));p1.commands.length = 0"><br>

            </div>

            <input type="button" value="test"@click="test">
            <p>how loop {{loopCount}}</p>

            <div v-for="grocery of groceryList">
                {{grocery}}
            </div>
        </div>
    </div>

</div>

<script src="index.js"></script>
<script src="editor.js"></script>

</body>
</html>