.MainContainer {
    display: flex;
    /*flex-wrap: wrap;*/

    justify-content: space-between;
    /*align-items: center;*/
    /*top: 0;*/
    /*margin: 0;*/
    /*padding: 0;*/
    align-items: flex-start;

}

#app {
    min-width: 770px;
    margin: 0;
}

#myCanvas {
    align-items: center;
}

.mainElem {
    margin: 0 20px;
}

body {
    background: rgba(102, 102, 123, 0.48);

}