#board {
    background-color: #888;
    background-image: linear-gradient(45deg, #444 25%, transparent 25%,
    transparent 75%, #444 75%, #444), linear-gradient(45deg, #444 25%,
    transparent 25%, transparent 75%, #444 75%, #444);
    background-position: 0 0, 100px 100px;
    background-size: 200px 200px;
}

#showCanvas {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: stretch;
    align-items: stretch;
    text-align: center;
    padding-top: 50px;
}

#editorArea {
    background-color: #F1DEDE;
    min-height: 600px;
}
#allElements {
    min-height: 800px;
    margin-top: 50px;
}
#canvasArea {
    background-color: #F1DEDE;
}

.textarea {
    text-align: center;
    /*color: #F1DEDE;*/
}

body {
    background: #403F4C;
}

.headnav {
    background-color: #D496A7;
    color: #F1DEDE;
}